#indexDivHead {
    display: flex;
    justify-content: center;
    width: 100%;
}

#productsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

#productsGrid li {
    display: flex;
    justify-content: center;
}

#indexDivH1 {
    margin: 15px;
    color: green;
}

#indexProductAddDiv {
    display: flex;
    justify-content: flex-end;
    margin: 10px 35px;
}

#productDivCard {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 18rem;
    transition: 1s;
}

.card:hover {
    transition: 1.5s;
    box-shadow: rgb(85, 85, 85) 5px 5px 5px 5px;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productsUlLiDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
}

.productsUlLih3 {
    margin-right: 5px;
}

.card-text,
.productsUlLih3 {
    font-size: 15px;
}