#profileDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profileDivH2Title {
    margin: 15px;
    color: rgb(0, 19, 128);
}

#profileDivDivSectMiddle {
    width: 50%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.profileDivDiv {
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
}

.profileDivh3, .profileDivh4 {
    margin: 15px 10px;
}

.profileDivDivBottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btnResetPassword {
    margin-right: 15px;
}