#divResetPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#pEmail {
    margin: 20px;
    font-size: 3rem;
    font-weight: bold;
}

#inputNewParssword, #inputNewParsswordVerify {
    margin: 15px;
    width: 45%;
    text-align: center;
}