<head>
    <link rel="stylesheet" href="/css/Carts.css">
</head>

<div id="divHeaderCarts">
    <h1 id="divHeadCartsH1">Lists of Carts</h1>
</div>
<div id="cartContainer">
</div>

<script src="/scripts/carts.js"></script>