<head>
    <link rel="stylesheet" href="/css/error.css">
</head>
<div id="divErrorMessage">
    <h1 id="errorMessage">{{error.message}}</h1>
</div>
<div id="divErrorImage"> 
    <img src="" alt="errorImage" id="errorImage">
</div>