<head>
    <link rel="stylesheet" href="/css/Error.css">
</head>
<div id="divErrorMessage">
    <h1 id="errorMessage">{{error.message}}</h1>
</div>
<div id="divErrorImage"> 
    <img src="/assets/oops.png" alt="errorImage" id="errorImage">
</div>