<head>
    <link rel="stylesheet" href="/css/Register.css">
</head>

<div id="registerDivHead">
    <h1 id="registerDivH1">Register</h1>
</div>

<div id="registerDivForm">
    <form id="registerForm">
        <div class="mb-3">
            <label for="inputFirstNameRegister" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="inputFirstNameRegister">
        </div>
        <div class="mb-3">
            <label for="inputLastNameRegister" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="inputLastNameRegister">
        </div>
        <div class="mb-3">
            <label for="inputAgeRegister" class="form-label">Age:</label>
            <input type="number" class="form-control" id="inputAgeRegister">
        </div>
        <div class="mb-3">
            <label for="inputEmailRegister" class="form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmailRegister" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPasswordRegister" class="form-label">Password:</label>
            <input type="password" class="form-control" id="inputPasswordRegister">
        </div>
        <div id="registerFormDivBtns">
            <a class="btn btn-outline-success" type="button" id="btnGoogleRegister" value="GoogleRegister" href="/api/auth/google/redirect">Sign up with Google</a>
            <a class="btn btn-outline-success" type="button" id="btnGoBack" value="Home" href="/">Home</a>
            <a class="btn btn-outline-success" type="button" id="btnRegister" value="Register"> Register</a>
        </div>
    </form>
</div>

<script src="/scripts/register.js"></script>