<head>
    <link rel="stylesheet" href="/css/ResetPassword.css">
</head>

<div id="divResetPassword">
    <p id="pEmail">{{email}}</p>
    <p id="pToken" hidden>{{token}}</p>
    <input type="password" , name="newParssword" , id="inputNewParssword" placeholder="Input your new Password" />
    <input type="password" , name="newParsswordVerify" , id="inputNewParsswordVerify"
        placeholder="Verify your new Password" />
    <input class="btn btn-outline-success" type="button" id="btnResetPassword" value="Reset Password" />
</div>

<script src="/scripts/resetPassword.js"></script>