<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f7f7f7;
        }

        #divTop {
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 30px 20px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        #divTop h1 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
        }

        #divBottom {
            background-color: white;
            padding: 40px 20px;
            text-align: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        }

        #imgVerify {
            max-width: 200px;
            height: auto;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .code-box {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ecf0f1;
            border: 1px dashed #7f8c8d;
            border-radius: 6px;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
            color: black;
        }

        .btn {
            display: inline-block;
            margin-top: 25px;
            padding: 12px 20px;
            background-color: #3498db;
            color: #ffffff;
            text-decoration: none;
            border-radius: 6px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #2980b9;
        }

        .footer {
            margin-top: 40px;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>

<body>
    <div id="divTop">
        <p> Use this Verification Code to validate your Email:</p>
        <div class="code-box">{{verifyCode}}</div>

        <p>Or just click in this Link:</p>
        <a href="{{verifyLink}}" class="btn">Verify Email</a>
    </div>
    <div id="divBottom">
        <img src="cid:verifyImg" alt="verify" class="verifyverify" id="imgVerify" />
    </div>
    <div class="footer">
        <p>Ingore this email if you didn't want a Verification Code!</p>
    </div>
</body>