<head>
    <link rel="stylesheet" href="/css/register.css">
</head>

<div id="registerDivHead">
    <h1 id="registerDivH1">Update User Data</h1>
</div>

<div id="registerDivForm">
    <form id="registerForm">
        <div class="mb-3">
            <label for="inputFirstNameRegister" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="inputFirstNameRegister">
        </div>
        <div class="mb-3">
            <label for="inputLastNameRegister" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="inputLastNameRegister">
        </div>
        <div class="mb-3">
            <label for="inputAgeRegister" class="form-label">Age:</label>
            <input type="number" class="form-control" id="inputAgeRegister">
        </div>
        <div id="registerFormDivBtns">
            <a class="btn btn-outline-success" type="submit" id="btnGoBack" href="/profile">Go Back</a>
            <a class="btn btn-outline-success" type="button" id="btnUpdate">Update Data </a>
        </div>
    </form>
</div>

<script src="/scripts/update-user.js"></script>