<head>
    <link rel="stylesheet" href="/css/VerifyEmail.css">
</head>

<div id="divVerifyEmail">
    <p id="pEmail">{{email}}</p>
    <input type="text" , name="verify" , id="inputVerifyCode"
        placeholder="Input you verify Code that has been send to your Email!" />
    <input class="btn btn-outline-success"lass="btn btn-outline-success" type="button" id="btnVerifyEmail" value="Verify your code!" />
</div>

<script src="/scripts/verifyEmail.js"></script>